
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.holder_image{
    background-color: white;
    height: 500px;
    width: 500px;
    box-shadow: rgba(0,0,0,0.3) -1px 3px 10px;
}
.body h2{
    padding-top: 5vh;
    margin-left: -50%;
    font-size: 7vh;
    font-weight: 800;
}
.Home{
    height: 80vh;
}

.Home h1{
    font-size: 15vh;
    font-weight: 900;
    overflow-y:hidden;
    text-shadow: rgba(0,0,255,0.75) -2px 2px 5px;
    line-height: 15vh;
    letter-spacing: 0.001vh;
    margin-left: -76vh;
    margin-top: 20vh;
}

.Home p {
    font-size: 4vh;
    margin-top: -20vh;
    text-align: left;
    margin-left: 85vh;

}
.home_circle{
    height: 35vh;
    width: 35vh;
    display: absolute;
    top: -50px;
    margin-left: 20vh;
    margin-top: -44vh;
    background-color: pink;
    border-radius: 50% 50%;
}

.home_yellow_circle{
    background-color: #FFFF33;
    height: 45vh;
    width: 45vh;
    margin-left: 35vh;
    margin-top: -17vh;
}

.home_pen_container{
    margin-left: 38vh;
    height: 350px;
    margin-top: -75vh;
    overflow-y:hidden;

}
.Why{
    background-color: pink;
    height: 102vh;
}
.Why p{
    font-size: 3.5vh;
    font-weight: 500;
    margin-top: 7vh;
}

.why_graphic_explanation{
    width: 75%;
    margin: auto;
    margin-top: 9vh;

    display:flex;
    flex: auto auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.why_text{
    width: 40%;
    padding-right:7vh;
}
.why_img{
    width: 40%;
    padding-left:7vh;
}
.why_graph{
    width: 100%;
}
.why_graph_holder{
    width: 550px;
    height: 450px;
}
.About{
    background-color: #FFA555;
    height: 100vh;
}

.About .holder_image{
    margin: auto;
    width: 800px;
    margin-top: 10vh;
}

.Locations{
    background-color: #FFFF33;
    height: 100vh;
}

.locations_flex_container{
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 7vh;
    flex: 35% 65%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.locations_flex_container .holder_image{
    width: 800px;
    margin-top: 5vh;
    margin-left: 5vh;
}
.locations_flex_text{
    text-align: left;
    font-size: 4vh;
    font-weight: 500;
}
.locations_hours{
    margin-top: 10vh;
}

.Footer{
    background-color: white;
    height: 10vh;
    font-size: 3vh;
    margin-top: 3vh;
}

.about_pen{
    height: 500px;
    overflow-y: hidden;
    display: absolute;
    margin-top: 4vh;

}

.container{
    height: 500px;
    background-color:white;
    height: 500px;
    width: 800px;
    box-shadow: rgba(0,0,0,0.3) -1px 3px 10px;
    margin: auto;
    margin-top: 3vh;


}

