.link_container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-size: 30px;
    overflow: hidden;
}

li {
    margin-left: 3vh;
    float: left;
    text-shadow: none;
    box-shadow: none;
}

.link{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.link:hover {
    font-weight: 600;
}
.nav_right{
    float: right;
    margin-right: 8vh;
}

.logo{
    float:left;
    margin-left: 5vh;
}

.nav_language_button{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    background: none;
    background-color: none;
    border-radius: 0;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    
}